

<div class="container-fluid ">
  <div class="row  align-items-center justify-content-end ">
    <div class="col-sm-offset-6 col-md-2">
      <button type="button" class="btn btn-link btn-sm">Моя учётная запись</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-link btn-sm">Личный кабинет абитуриента БНТУ</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-link btn-sm">Выйти</button>
    </div>
  </div>
  <div class="row justify-content-center ">
    <div class="col-md-2"><img src="http://iifoimo.bntu.by/sites/iifoimo.bntu.by/themes/bntu_iifoimo/logo.png"
                               alt="Институт интегрированных форм обучения и мониторинга образования"></div>
    <div class="col-md-8">
      <div class="row justify-content-center">
        <div class="col"><h4>Институт интегрированных форм обучения и мониторинга образования</h4>
          <div class="col"><h5>Белорусский национальный технический университет</h5></div>
        </div>
      </div>
    </div>
    <div class="col-md-2"><input></div>
  </div>
</div>

