<div class="container-fluid footer fixed-bottom">
  <div class="row  row-fluid ">
    <div class="col-md-3"><img alt="Белорусский национальный технический университет"
                               src="http://iifoimo.bntu.by/sites/iifoimo.bntu.by/themes/bntu_iifoimo/logo-bntu.png"
                               width="120"></div>
    <div class="col-md-3"><h4>Белорусский национальный технический университет
      220013, г. Минск, проспект Независимости, 65</h4></div>
    <div class="col-md-3">
      <h4>Присоединяйтесь к нам в социальных сетях!</h4>
      <div class="row">
        <div class="col">
          <button type="button" class="btn btn-light">RRS</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-light">RRS</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-light">RRS</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-light">RRS</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-auto">
          <button type="button" class="btn btn-light">RRS</button>
        </div>
        <div class="w-100"></div>
        <div class=" col-auto">
          <button type="button" class="btn btn-light">Карта сайта</button>
        </div>
        <div class="w-100"></div>
        <div class=" col-auto">
          <button type="button" class="btn btn-light">Контакты</button>
        </div>
      </div>
    </div>
  </div>
    <div class="row  row-fluid">
      <div class="col-md-12">© 2014-2020 Институт интегрированных форм обучения и мониторинга образования</div>
    </div>
</div>


