<div class="container">
  <app-footer-top></app-footer-top>
</div>
<div class="container footer ">
  <div class="row">
    <div class="col-md-2"><img class="img-fluid" alt="Белорусский национальный технический университет"
                               src="http://iifoimo.bntu.by/sites/iifoimo.bntu.by/themes/bntu_iifoimo/logo-bntu.png"
                               width="120"></div>
    <address class="col-md-4 ">
      <h4>Белорусский национальный технический университет
        220013, г. Минск, проспект Независимости, 65</h4>
      Тел.: <a href="tel:+375 (17) 292 7752">+375 (17) 292 7752</a>, <a href="tel:+375 (17) 292 7416">+375 (17) 292
      7416</a>
      Факс: <a href="tel:+375 (17) 292 9137">+375 (17) 292 9137</a>
      E-mail:<a href="email:bntu@bntu.by">bntu@bntu.by</a> | <a href="http://www.bntu.by/elektronnoe-obraschenie.html"
                                                                title="Обратная связь">Обратная
      связь</a>
    </address>
    <div class="col-md-4">
      <h2>Присоединяйтесь к нам в социальных сетях!</h2>
      <div class="row">
        <div class="col">
          <a href="http://www.facebook.com/">RRS</a>
        </div>
        <div class="col">
          <a href="http://www.linkedin.com/">RRS</a>
        </div>
        <div class="col">
          <a href="http://twitter.com/">RRS</a>
        </div>
        <div class="col">
          <a href="https://vk.com/">RRS</a>
        </div>
        <div class="col">
          <a href="http://www.youtube.com/">RRS</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-auto">
          <a href="#">RRS</a>
        </div>
        <div class="w-100"></div>
        <div class=" col-auto">
          <a href="#">Карта сайта</a>
        </div>
        <div class="w-100"></div>
        <div class=" col-auto">
          <a href="#">Контакты</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <app-footer-bottom></app-footer-bottom>
</div>
