<div class="container-fluid background_color_footer_top">
<div class="container">
  <div class="row">
    <div class="col-md-6 ">
      <app-form-entry></app-form-entry>
    </div>
    <div class="col-md-6 head">
      <address><h6>Институт интегрированных форм обучения и мониторинга образования Белорусского национального технического
        университета</h6>
        220013, г. Минск, проспект Независимости, 65 корпус 3
        Тел.: <a href="tel:+375 (17) 293 9339">+375 (17) 293 9339</a>, <a href="trl:+375 (17) 292 5322">+375 (17) 292
          5322 </a>(Директор)
        Тел.: <a href="+375 (17) 290 2223">+375 (17) 290 2223</a>, <a href="+375 (17) 331 0255">+375 (17) 331 0255</a>
        (Зам. директора)
        Телефон горячей линии института: <a href="+375 (17) 237 3925">+375 (17) 237 3925</a>
        E-mail: <a href="email:iifomobntu@bntu.by">iifomobntu@bntu.by</a> | <a href="#">Обратная связь</a>
      </address>
    </div>
  </div>
</div>
</div>
