
.navBarColor {
  background-color: #00C90D;
  border: #29A368;
}

.border-5 {
  border-color: #FFFFFF;
  border-width: 2px !important;
}

.sidebar{

}

.colorNav-bar {
  background: rgb(237,235,235);
  background: -moz-linear-gradient(180deg, rgba(237,235,235,1) 10%, rgba(233,233,233,1) 27%, rgba(222,222,222,1) 70%, rgba(255,255,255,1) 94%);
  background: -webkit-linear-gradient(180deg, rgba(237,235,235,1) 10%, rgba(233,233,233,1) 27%, rgba(222,222,222,1) 70%, rgba(255,255,255,1) 94%);
  background: linear-gradient(180deg, rgba(237,235,235,1) 10%, rgba(233,233,233,1) 27%, rgba(222,222,222,1) 70%, rgba(255,255,255,1) 94%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#edebeb",endColorstr="#ffffff",GradientType=1);}
