<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <br>  <u>Radio</u>:
      <br>
      <div class="btn-group btn-group-vertical" data-toggle="buttons">
        <label class="btn active">
          <input type="radio" name='gender1' checked><i class="fa fa-circle-o fa-2x"></i><i
          class="fa fa-dot-circle-o fa-2x"></i> <span>  Male</span>
        </label>
        <label class="btn">
          <input type="radio" name='gender1'><i class="fa fa-circle-o fa-2x"></i><i
          class="fa fa-dot-circle-o fa-2x"></i><span> Female</span>
        </label>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <hr>
      Vertical <u>Checkbox</u>:
      <br>
      <div class="btn-group btn-group-vertical" data-toggle="buttons">
        <label class="btn active">
          <input type="checkbox" name='email1' checked><i class="fa fa-square-o fa-2x"></i><i
          class="fa fa-check-square-o fa-2x"></i> <span> Marketing Email</span>
        </label>
        <label class="btn">
          <input type="checkbox" name='email2'><i class="fa fa-square-o fa-2x"></i><i
          class="fa fa-check-square-o fa-2x"></i><span> Alert Email</span>
        </label>
        <label class="btn">
          <input type="checkbox" name='email3'><i class="fa fa-square-o fa-2x"></i><i
          class="fa fa-check-square-o fa-2x"></i><span> Account Email</span>
        </label>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <hr>
      Horizontal <u>Radio</u>:
      <br>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn active">
          <input type="radio" name='gender2' checked><i class="fa fa-circle-o fa-2x"></i><i
          class="fa fa-check-circle-o fa-2x"></i><span> Male</span>
        </label>
        <label class="btn">
          <input type="radio" name='gender2'><i class="fa fa-circle-o fa-2x"></i><i
          class="fa fa-check-circle-o fa-2x"></i><span> Female</span>
        </label>
      </div>

    </div>
  </div>



</div>

<br>
