<div class="container">
  <div class="row">
    <div class="col-md-3 background_color_form_entry_heading"><h4>Вход на сайт</h4></div>
    <div class="col-md-9  background_color_form_entry">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="" for="name">Имя пользователя или e-mail</label>
          <input class="form-control form-control-sm" id="name" type="text" required>
        </div>
        <div class="form-group">
          <label class="" for="password">Пароль</label>
          <input class="form-control form-control-sm" id="password" type="password" required>
        </div>
        <div class="form-group">
          <div class=" ">
            <button type="submit" class="btn btn-default">Войти</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


