
.container{
  padding: 4%;
}

.background_color_form_entry {
  background-color: #FFFFFF;
}

.background_color_form_entry_heading {
  background-color: #1a6e1a;
  color: #f4f5cd;
  text-align: center;
}
