<div class="content bg-white">
  <router-outlet></router-outlet>
  <div *ngIf="name===nameTemplate" class="card noOpacity">
    <div class="card-body">
      <h5 class="card-title">Институт объединяет в своем составе:</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item ">внутренний мониторинг качества образования студентов БНТУ, целью которого является
          систематическое отслеживание качества образования студентов, прогнозирование их учебных достижений,
        </li>
        <li class="list-group-item">разработка рекомендаций по оперативной коррекции хода усвоения материала;
        </li>
        <li class="list-group-item">внутренний мониторинг качества образования студентов БНТУ, целью которого является
          систематическое отслеживание качества образования студентов, прогнозирование их учебных достижений,
        </li>
        <li class="list-group-item">разработка рекомендаций по оперативной коррекции хода усвоения материала;</li>
        <li class="list-group-item">диагностическое тестирование учащихся в общеобразовательных учреждениях Минской
          области, целью которого является психолого-педагогическая подготовка к централизованному тестированию.
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Образование</h5>
      <p>
        Подготовительное отделение
        На подготовительном отделении обучаются слушатели, имеющих общее среднее образование и желающих продолжить учебу
        в Белорусском национальном техническом университете или в других вузах Республики Беларусь по дневной форме
        обучения и без отрыва от производства на условиях полной оплаты за обучение.
      </p>
    </div>
  </div>
  <div *ngIf="name===nameTemplate" class="card">
    <div class="card-body">
      <h5 class="card-title">Институт объединяет в своем составе:</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item ">внутренний мониторинг качества образования студентов БНТУ, целью которого является
          систематическое отслеживание качества образования студентов, прогнозирование их учебных достижений,
        </li>
        <li class="list-group-item">разработка рекомендаций по оперативной коррекции хода усвоения материала;
        </li>
        <li class="list-group-item">внутренний мониторинг качества образования студентов БНТУ, целью которого является
          систематическое отслеживание качества образования студентов, прогнозирование их учебных достижений,
        </li>
        <li class="list-group-item">разработка рекомендаций по оперативной коррекции хода усвоения материала;</li>
        <li class="list-group-item">диагностическое тестирование учащихся в общеобразовательных учреждениях Минской
          области, целью которого является психолого-педагогическая подготовка к централизованному тестированию.
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Образование</h5>
      <p>
        Подготовительное отделение
        На подготовительном отделении обучаются слушатели, имеющих общее среднее образование и желающих продолжить учебу
        в Белорусском национальном техническом университете или в других вузах Республики Беларусь по дневной форме
        обучения и без отрыва от производства на условиях полной оплаты за обучение.
      </p>
    </div>
  </div>
</div>
