<div class="list-group list-group-flush ">
  <div *ngFor="let comment of comments">
    <ul class="">
      <li class="list-group-item ">
        <a [routerLink]="['sidebar',comment.router_link]"  type="button" class="text-dark list-group-item-action active "
           (click)="flagTurn(comment)">{{comment?.text}}</a>
        <div class="" *ngIf="comment.flag===false">
          <comments [comments]="comment.comments" *ngIf="comment.comments"></comments>
        </div>
      </li>
    </ul>
  </div>
</div>
