

.background_color_footer{
  background-color: #2d812d;
}
.header {
  padding: 1%;
  text-align: center;
}


.background_color {
  background-color: #1a6e1a;

}


.header.img {
  width: 100% \9;
  height: auto;
}

.site-name {
  text-align: start;
  color: #F4f5CD;
}

.site-slogan {
  text-align: start;
  color: #F4f5CD;
  font-size: 1.47em;
  font-style: italic;
  font-weight: normal;

}

.site-name-slogan {
}

