<div class="container header">
  <div class="row">
    <div class="col-md-2 "><img class="img-fluid"
                                src="http://iifoimo.bntu.by/sites/iifoimo.bntu.by/themes/bntu_iifoimo/logo.png"
                                alt="Институт интегрированных форм обучения и мониторинга образования"></div>
    <div class="col-md-8   site-name-slogan">
      <h4 class=" site-name">Институт интегрированных форм обучения и мониторинга образования</h4>
      <h5 class="site-slogan strong">Белорусский национальный технический университет</h5>
    </div>
    <div class="col-md-2">
      <div class="row">
        <form>
          <input for="Search" type="text" placeholder="">
          <button id="Search" type="submit">
          </button>
        </form>
      </div>
    </div>
  </div>
</div>




