<div class="container-fluid  header">
  <div class="row align-items-center justify-content-md-center">
    <div class="col offset-1 ">
      <div class="container"><img class="img-fluid"
                                  src="http://iifoimo.bntu.by/sites/iifoimo.bntu.by/themes/bntu_iifoimo/logo.png"
                                  alt="Институт интегрированных форм обучения и мониторинга образования"></div>
    </div>
    <div class="col-auto text-light">
      <h4 class=" ">Институт интегрированных форм обучения и мониторинга образования</h4>
      <h5 class=" ">Белорусский национальный технический университет</h5>
    </div>
    <div class="col btn-group">
      <form class="form-inline my-2 my-lg-0 ">
        <input class="form-control  btn-sm" type="search" placeholder="Search" aria-label="Search">
        <button class=" form-control btn btn-outline-success btn-sm" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>


