<div class="container rounded border  border-light">
  <div>
    <div class="row">
      <ul class="col">
        <li>
          <button class="btn btn-link text-dark" (click)="clickSelection1()">Институт</button>
          <ul>
            <li [ngClass]="{side:click1}">
              <button class="btn btn-link text-dark" (click)="clickSelection2()">Институт2</button>
              <ng-content></ng-content>
              <ul>
                <li [ngClass]="{side:click2}">
                  <button class="btn btn-link text-dark" (click)="clickSelection3()">Институт3</button>
                  <ng-content></ng-content>
                  <ul>
                    <li [ngClass]="{side:click3}">
                      <button class="btn btn-link text-dark" (click)="clickSelection4()">Институт4</button>
                      <ng-content></ng-content>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
