<div id="block-menu-menu-second-menu" class="block block-menu">
  <div class="heading arrow">
    <h2>Меню навигации</h2>
  </div>
  <ul class="menu clearfix"><li class="first collapsed" bootstrap_icon_position="left"><a href="/institut" bootstrap_icon_position="left">Институт</a></li>
    <li class="collapsed" bootstrap_icon_position="left"><a href="/department/kafedra-estestvennonauchnye-i-tvorcheskie-discipliny" bootstrap_icon_position="left" title="Кафедры">Кафедра «Естественнонаучные и творческие дисциплины»</a></li>
    <li class="collapsed" bootstrap_icon_position="left"><a href="/podrazdeleniya" bootstrap_icon_position="left">Подразделения</a></li>
    <li class="collapsed" bootstrap_icon_position="left"><a href="/liceum" bootstrap_icon_position="left">Лицей</a></li>
    <li class="collapsed" bootstrap_icon_position="left"><a href="/shkola-yunyh-arhitektorov-i-dizaynerov" bootstrap_icon_position="left">Школа юных архитекторов и дизайнеров</a></li>
    <li class="collapsed" bootstrap_icon_position="left"><a href="/onlayn-konsultacii" bootstrap_icon_position="left" title="Онлайн консультации Skype">Онлайн-консультации</a></li>
    <li class="leaf" bootstrap_icon_position="left"><a href="/politehnicheskaya-shkola-yunyh" bootstrap_icon_position="left" title="Политехническая школа юных">Политехническая школа юных</a></li>
    <li class="collapsed" bootstrap_icon_position="left"><a href="/podgotovka-k-ct-i-postupleniyu-v-vuz" bootstrap_icon_position="left">Подготовка к ЦТ и Поступлению в ВУЗ</a></li>
    <li class="leaf" bootstrap_icon_position="left"><a href="http://iifoimo.bntu.by/proforientacionnye-subboty-bntu" bootstrap_icon_position="left">Профориентационные субботы БНТУ</a></li>
    <li class="last leaf" bootstrap_icon_position="left"><a href="http://iifoimo.bntu.by/form/registraciya-na-repeticionnoe-testirovanie" bootstrap_icon_position="left">Регистрация на репетиционное тестирование</a></li>
  </ul></div>
