<div class="container">
  <div class="sidebar ">
    <div class="">
      <h5>Меню навигации</h5>
    </div>
    <ul class="">
      <li>
        <button class="btn btn-link text-dark" (click)="clickSelection1()">Институт</button>
        <ul>
          <li [ngClass]="{side:click1}">
            <button class="btn btn-link text-dark" (click)="clickSelection2()">Институт2</button>
            <button class="btn btn-link text-dark" (click)="clickSelection2()">Институт2</button>
            <button class="btn btn-link text-dark" (click)="clickSelection2()">Институт2</button>
            <ul>
              <li [ngClass]="{side:click2}">
                <button class="btn btn-link text-dark" (click)="clickSelection3()">Институт3</button>
                <button class="btn btn-link text-dark" (click)="clickSelection3()">Институт3</button>
                <button class="btn btn-link text-dark" (click)="clickSelection3()">Институт3</button>
                <ul>
                  <li [ngClass]="{side:click3}">
                    <button class="btn btn-link text-dark" (click)="clickSelection4()">Институт4</button>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>



