<div class="container rounded border  border-light">
  <div class="sidebar ">
    <div class="">
      <h5>Меню навигации</h5>
    </div>

    <app-side-template>
      <app-side-template></app-side-template>
      <app-side-template></app-side-template>
      <app-side-template></app-side-template>
    </app-side-template>
    <app-side-template>
      <app-side-template></app-side-template>
      <app-side-template></app-side-template>
      <app-side-template></app-side-template>
    </app-side-template>
    <app-side-template>
      <app-side-template></app-side-template>
      <app-side-template></app-side-template>
      <app-side-template></app-side-template>
    </app-side-template>

  </div>
</div>



